{% extends "base.html" %}
{% block css %}
    <style>

    </style>
{% endblock %}


{% block js %}
    <script>
        $(function () {

            var wo,uid = "";

            $("#input-wo").focus();


            $('#input-wo').on("keyup", function (e) {
                if (e.keyCode == 13) {
                    wo = $(this).val();
                    $("#input-uid").focus()
                }
            })


            $('#input-uid').on("keyup", function (e) {
                if (e.keyCode == 13) {
                    uid = $(this).val();
                    window.location = '/scan?work_order=' + wo +"&user_id=" +uid;
                }
            })

        })


    </script>

{% endblock %}


{% block body %}




    <div class="row" style="padding-top: 10%">
        <div class="col">


            <div class="card scroll sample-card">
                <h3 class="card-header secondary">Scan Data</h3>

                <div class="card-body">

                    <div class="input-group  mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background-color: #e9ecef00;">Work Order</span>
                        </div>
                        <input id="input-wo" type="text" class="form-control" placeholder="Please Scan Work Order">

                    </div>

                    <div class="input-group  mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background-color: #e9ecef00;">User ID</span>
                        </div>
                        <input id="input-uid" type="text" class="form-control" placeholder="Please Scan User ID">

                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}